
// global 

@import url('//fonts.googleapis.com/css?family=Muli:200,400,400i,700,700i,900');


// Sass variables

$light:   #c7c8ca;
$dark:    #636466;
$action:  #6ebe45;
$font:    Muli, sans-serif;


html, body
{
  color: $dark;
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 100%;
}

a
{
  position: relative;
  color: $action;
  text-decoration: none;
  font-weight: 200;
  
  &:before
  {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -.1em;
    left: -.1em;
    background-color: $action;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  
  &:hover
  {
    color: $action;
    -webkit-transition: all 0.5s ease-in-out 0s;
  }
 
  &:hover:before
  {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

}

h1
{
  margin: .5em;
  font-family: $font;
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  
  &.soon
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    margin: 0 auto; 
  }
  
  &.home-page
  {
    top: 50%;
    height: 0;
    padding-top: 17%;    
  }
}

h2
{
  margin: .75em 0 .25em;
  font-family: $font;
  color: $light;
}

h3
{
  margin: .75em 0 .5em;
  font-family: $font;
  line-height: 1.5
}

p, li
{
  font-size: 1.15em;
  line-height: 1.5;
}


// nav

nav ul
{
  -webkit-box-sizing: border;
  box-sizing: border;
  min-width: 320px;
  margin: 0;
  padding: 0 6%;
  list-style: none;
  text-align: center;
  
  li
  {
    display: inline;
    padding: 0 .5em;
    font-size: 1.5em;
    line-height: 2.5em;
    letter-spacing: .2em;
  }
}
 

// footer

footer
{
  clear: both;
  margin: 4em auto 2em;
  color: $light;
  font-size: .75em;
  text-align: center;

  .eyes
  {
    color: $action;
    font-weight: 900; 
  }

  .mouth
  {
    color: $dark;
  }
  
  &.home-page
  {
    bottom: 2em;
  }
} 


// pages

.home-page
{
  position: absolute;
  margin: 0 auto;
  left: 50%;
  width: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

%page 
{
	width: 80%;
	max-width: 52em; 
	margin: 0 auto 2em;
	text-align: justify;
}


// about
.about
{
  @extend %page
}


// resume

.resume
{
  @extend %page
}

.contact-information
{
  margin: .5em 0 0;
	font-size: 1.15em;
  line-height: 1.5em;
	text-align: center;	
}

.resume p
{
  margin: .25em 0 .75em;
}

.skills
{
	-webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
  font-weight: bold;
  text-align: left;
}

.skills li
{
  margin: 0 0 .35em;  
}

.experience, .education, .portfolio ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.experience h3
{
  margin: .25em 0 .5em;  
}

.experience ul
{
  list-style-type: none;
  margin: 0 0 1.5em;  
}

.experience ul li
{
  margin: .5em 0;
}

.experience li li
{
  font-size: 1em;
}

.experience ul li::before
{
  content: "\2022"; 
  position: relative;
  top: 0em; 
  float: left;
  margin: 0 0 0 -1em;
  padding: 0 0 0 1.125em;
  width: 1em; 
  font-size: 1em; 
  color: $light;  
}

.dates
{
  color: $light;
  font-weight: normal;
}

.company
{
  font-weight: normal;
}

.degree, .gpa
{
  font-weight: bold;
}


// portfolio

.portfolio
{
  @extend %page;
  max-width: 80%;
  
  p
  {
    width: 60%;
    max-width: 52em;
  }
}

.piece img
{
  width: 30%;
  max-width: 320px;
  display: block;
  float: right;
  margin: 0 0 1em 2em;
}

// import gallery css
@import "gallery";
  

// svg logo

#logo, #logomark
{
  position: absolute;
  top: 0;
  left: 0;
}

.gray
{
  fill: $dark;
}

.light-gray
{
  fill: $light;
}

.green
{
  fill: $action;
}

.logomark-container
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  max-width: 4em;
}

.logo-resume
{
	position: relative;
	width: 10em;
  height: 2.5em;
	margin: 1em auto 0;
  text-align: center;
} 