// gallery

@keyframes rotation 
{
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

#spinner
{
  height: 5em;
  width: 5em;
  margin: 10em auto;
  position: relative;
  animation: rotation .5s infinite linear;
  border-left: .1em solid rgba(110,190,69,.15);
  border-right: .1em solid rgba(110,190,69,.15);
  border-bottom: .1em solid rgba(110,190,69,.15);
  border-top: .1em solid rgba(110,190,69,.8);
  border-radius: 100%;
}

#gallery
{
  column-count: 5;
  column-gap: 0;
  opacity: 0;
}

#gallery .gallery-img
{
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}

#gallery .gallery-img img
{
  width: 100%;
  display: block;
}

#gallery .gallery-img figcaption
{
  background: rgba(0,0,0,0.75);
  position: absolute;
  width: 100%;
  height: 100%;
}

#gallery .gallery-img.left figcaption
{
  top: 0;
  left: -100%;
}

#gallery .gallery-img.right figcaption
{
  top: 0;
  right: -100%;
}

#gallery .gallery-img.top figcaption
{
  top: -100%;
}

#gallery .gallery-img.bottom figcaption
{
  bottom: -100%;
}

#gallery .gallery-img.animated figcaption
{
  transition: .5s ease-out;
}

#gallery .gallery-img.left.animated figcaption
{
  left: 0;
}

#gallery .gallery-img.right.animated figcaption
{
  right: 0;
}

#gallery .gallery-img.top.animated figcaption
{
  top: 0;
}

#gallery .gallery-img.bottom.animated figcaption
{
  bottom: 0;
}

#gallery .gallery-img figcaption .description
{
  position: relative;
  width: 100%;
  height: 100%;
}

#gallery .gallery-img figcaption .description h1
{
  box-sizing: border;
  position: absolute;
  top: 1em;
  width: 100%;
  margin: 0;
  padding:  0;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
}

#gallery .gallery-img figcaption .description p
{
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  color: #fff;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 1140px) and (max-width: 1440px) { 
  #gallery {
    column-count: 4;
  }  
}

@media (min-width: 768px) and (max-width: 1140px) { 
  #gallery {
    column-count: 3;
  }  
}

@media (min-width: 480px) and (max-width: 768px) { 
  #gallery {
    column-count: 2;
  }  
}

@media (max-width: 480px) { 

  #gallery {
    column-count: 1;
  }

}